footer.footer
  .wrapper.wrapper-flex-top
    .footer__left
      .copyright © 2019
      .footer-author.footer__left-author
        .footer-author__name Моисеев Николай
        .footer-author__prof Личный сайт  
          span.nowrap веб-разработчика
        
    .footer__right
      .footer__nav
        div.main-nav 
          ul.main-nav-list
            - var navItems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
            - var navAnchors = ["#hero", "#about", "#skills", "#works", "#reviews", "#contacts"];
                each item, index in navItems
                  li.main-nav-list__item
                    a(href=`${navAnchors[index]}`).main-nav-list__link #{item}    
      .footer-bottom
        .footer-bottom__left
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .footer__social
            - var socialItems = ['insta', 'vk', 'github'];
            - var socialAriaLabels = ['Перейти в Instagram', 'Перейти на ВКонтакте', "Перейти на GitHub"];
            - var socialLinks = ['https://www.instagram.com/koljamoiseiev/', 'https://vk.com/m.moyseyev', "https://github.com/MokusM"];
            ul.social-list
              each item, index in socialItems
                li(class='social-list__item')
                  a(href=`${socialLinks[index]}` aria-label=`${socialAriaLabels[index]}` target="_blank").social-list__link
                    +icon(item, `social-icon  social-icon_${item}`)
        blockquote.footer-bottom__right
          .blockquote__text
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          span.quote-author Martin Golding  
        
    
  
